<colgroup>
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
  </colgroup>
<tr>

 <td><%= entry.get('name') %></td>
 <td><%= entry.get('address') %></td>
 <td><%= entry.get('tag') %></td>

<td ><button id="editEntry" name=<%=bookID%> style="background-color:#01DF01">Edit</button></td>
<td><button id="deleteEntry" name = <%=bookID%> style="background-color:#FF0000">Destroy</button></td>
</tr>