<colgroup>
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
  </colgroup>
<tr>

 <td><%= entry.get('name') %></td>
 <td><%= entry.get('address') %></td>
 <td><%= entry.get('tag') %></td>

<td ><button id="editEntry" name=<%=bookID%>  class="btn btn-small btn-success">Edit</button></td>
<td><button id="deleteEntry" name = <%=bookID%> class="btn btn-small btn-danger">Destroy</button></td>
</tr>