 <td><%= entry.get('name') %></td>
 <td><%= entry.get('address') %></td>
 <td><%= entry.get('tag') %></td>

 <td><button id="editEntry" name=<%=bookID%>>Edit</button></td>
<td><button id="deleteEntry" name = <%=bookID%>>Delete</button></td>